html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.left {
  min-width: 30%;
  height: 100%;
  float: left;
  padding: 0 20px 0 0;
  background: #4d4646;
}

.right {
  height: 100%;
  margin-left: 30%;
  background: #5b5656;
}

ul {
  list-style-type: square;
}

li {
  font-size: 1.4rem;
  font-family: monospace;
  color: #f5eaea;
}

.up {
  text-align: center;
}

#glob {
  width: 80%;
  height: 60px;
  top: 100px;
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
  color: #f5eaea;
  background: #5b5656;
  border: none;
  outline: none;
}

.lower {
  height: 60%;
  padding: 0 40px;
  text-align: center;
}

#patterns {
  width: 80%;
  height: 100%;
  margin: 40px 0 0 0;
  font-size: 1.4rem;
  font-family: monospace;
  color: #f5eaea;
  background: #5b5656;
  border: none;
  outline: none;
  resize: none;
}

.match {
  color: #7fcd91;
}
